[package]
name = "app"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
wry = "0.27.2"


[build-dependencies]
regex = "1.7.3"
walkdir = "2.3.3"
